.main {
    width: 600px;
    border: 2px;
    border-style: solid;
    border-color: lightblue;
    margin-bottom: 15px;
}

html {
    min-height:100%;
}

body {
    color: #435757;
    background: #84D8D8;
  }
h2 {
  position: relative;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 1.2em;
}

h2::before {
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -20px;
    width: 5px;
    background-color: #435757;
  }

  h2::after {
    display: block;
    float: right;
    font-weight: normal;
  }

  input {
    display: block;
    height: 53px;
    margin: 0 0 -53px -9999px;
    order: 4;
    outline: none;
  }
  
  
  label {
    display: block;
    position: relative;
    padding: 15px 0 15px 45px;
    border-top: 1px dashed #fff;
    order: 4;
    cursor: pointer;
    animation: undone .5s;
    font-size: 1rem;
  }

.taskIn {
    width: 100%;
      margin: 0;

  }
  
  label::before {
    content: '\f10c'; 
    display: block;
    position: absolute;
    top: 11px;
    left: 10px;
    font: 1.5em 'FontAwesome';
  }
  
  label:hover, input:focus + label {
    background-color: rgba(255, 255, 255, .2);
  }
  
  
  input:checked + label::before {
    content: '\f058'; 
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

.card-header {
    background-color: lightblue;
    border-bottom: 0;
    padding: 0;
    min-height: 30px;
}

.card-text {
    display: inline;
}

.card-body {
    padding: 0;
}

.btn {
    margin: 0 15px;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    border-top: 5px solid #435757;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    user-select: none;
}

h1 {
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.8em;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    counter-reset: done-items undone-items;
  }

  