*,
::before,
::after {
    box-sizing: border-box;
}

.addButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 15px;
    padding: 6px 43px;
    text-decoration: none;
    margin: 20px auto;
    width: 160px;
    display: block;
}

.addButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

.addButton:active {
    position: relative;
    top: 1px;
}

.btn {
    margin: 0 15px;
}

.card-body {
    padding: 0;
}

.card-header {
    background-color: #ADD8E6;
    border-bottom: 0;
    min-height: 30px;
    padding: 0;
}

.card-text {
    display: inline;
}

.close {
    float: right;
}

.containerList {
    background-color: rgba(255, 255, 255, .2);
    border-top: 5px solid #435757;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    margin: 0 auto;
    max-width: 450px;
    user-select: none;
}

.delButton {
    float: right;
}

.fa {
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    position: relative;
    bottom: -15px;
    right: 0;
}

.fa:hover {
    color: red;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main {
    border: 2px;
    border-color: #ADD8E6;
    border-style: solid;
    margin-bottom: 15px;
    width: 600px;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    height: 250px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 10%;
}

.modal-backdrop {
    opacity: .8;
}

.modal-footer{
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.taskIn {
    margin: 0;
    width: 100%;
}

body {
    background: #84D8D8;
    color: #435757;
}

h1 {
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.8em;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px 0;
    position: relative;
}

h2::after {
    display: block;
    float: right;
    font-weight: 400;
}

h2::before {
    background-color: #435757;
    bottom: 10px;
    display: block;
    left: -20px;
    position: absolute;
    top: 10px;
    width: 5px;
}

html {
    min-height: 100%;
}

input {
    display: block;
    height: 53px;
    margin: 0 0 -53px -9999px;
    order: 4;
    outline: none;
}

input:checked+label::before {
    content: '\f058';
}

label {
    animation: undone .5s;
    border-top: 1px dashed #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 0;
    /* margin-top: 5px; */
    order: 4;
    padding: 15px 0 15px 45px;
    position: relative;
    width: 80%;
    min-height: 48px;
}

label::before {
    content: '\f10c';
    display: block;
    font: 1.5em FontAwesome;
    left: 10px;
    position: absolute;
    top: 11px;
}

label:hover,
input:focus+label {
    background-color: rgba(255, 255, 255, .2);
}